[submodule "ricbot_navigation"]
	path = ricbot_navigation
	url = ../ricbot_navigation
[submodule "ricbot_description"]
	path = ricbot_description
	url = ../ricbot_description
[submodule "ricbot_bringup"]
	path = ricbot_bringup
	url = ../ricbot_bringup
[submodule "svelte-ui"]
	path = svelte-ui
	url = ../svelte-ui
[submodule "helloric_ui_com"]
	path = helloric_ui_com
	url = ../helloric_ui_com
