services:
  ricbot:
    restart: always
    platform: "linux/arm64"
    # just the basic robot (headless, runs drivers, publishes description)
    build:
      context: ./
      dockerfile: ./docker/Dockerfile-robot
      platforms:
        - "linux/arm64"
      args:
        ROS_DISTRO: jazzy
    image: ghcr.io/helloric/ricbot:latest
    environment:
      - PYTHONUNBUFFERED=1 # important to show error messages if a ros service crashes!
    volumes:
      # logs for debugging
      - ./roslog:/root/.ros/
    devices:
      # USB devices to connect to kobuki and Lidar
      - /dev/bus/usb/:/dev/bus/usb/
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1

  ui:
    restart: always
    platform: "linux/arm64"
    depends_on:
      - ui_com
    image: ghcr.io/helloric/svelte-ui:latest
    build:
      context: ./svelte-ui/
      dockerfile: ./docker/Dockerfile
    ports:
      - 80:5173
  
  ui_com:
    restart: always
    platform: "linux/arm64"
    image: ghcr.io/helloric/helloric_ui_com:latest
    build:
      context: ./helloric_ui_com/
      dockerfile: ./Dockerfile
      args:
        ROS_DISTRO: jazzy
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - 7000:7000

  teleop:
    platform: "linux/arm64"
    build:
      context: ./
      dockerfile: ./docker/Dockerfile-teleop
      args:
        ROS_DISTRO: jazzy
    stdin_open: true
    tty: true
    image: ghcr.io/helloric/teleop:latest

  ds4:
    platform: "linux/arm64"
    build:
      context: ./
      dockerfile: ./docker/Dockerfile-ds4
      args:
        ROS_DISTRO: jazzy
    devices:
      - /dev:/dev
    privileged: true
    image: ghcr.io/helloric/ds4:latest
