services:
  ricbot:
    platform: "linux/arm64"
    # just the basic robot (headless, installs drivers, publishes description)
    build:
      context: ./
      dockerfile: ./docker/Dockerfile-robot
      platforms:
        - "linux/arm64"
      args:
        ROS_DISTRO: humble
    image: d-reg.hb.dfki.de/helloric/kobuki_driver:humble_arm64
    environment:
      - PYTHONUNBUFFERED=1 # important to show error messages if a ros service crashes!
    command: [ros2, launch, ricbot_bringup, ricbot_robot.launch.py]
    privileged: True
    volumes:
      - ./roslog:/root/.ros/
      - /dev:/dev
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    devices:
      - /dev/bus/usb/
    network_mode: host
